<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tournament app</title>
</head>
<body>
    <div align="center" id="wrapper">
        <div id="header">
            <h2>Welcome in FIFA Tournament application</h2>
        </div>
    </div>

    <div align="center" id="container">
        <div>
            <input type="button" value="Continue"
                   onclick="window.location.href='add-players';"
                   class="add-button"
            />
        </div>
    </div>
</body>
</html>